<?xml version="1.0"?>

<launch>
    <arg name="bagfile" default="/home/amsl/traffic_light_test.bag"/>
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-22/rwrc23_main_2023-10-22-11-44-46.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-22/rwrc23_main_2023-10-22-11-11-36.bag"/> -->
    <arg name="s" default="0.0"/>
    <!-- <arg name="s" default="1200"/> -->
    <arg name="d" default="300.0"/>
    <arg name="r" default="1" />


    <!-- traffic light detector -->
    <arg name="conf_th_red" default="0.3"/>
    <arg name="conf_th_blue" default="0.05"/>
    <arg name="blue_th" default="20"/>
    <arg name="red_th" default="20"/>
    <param name="traffic_light_detector/conf_threshold_blue" value="$(arg conf_th_blue)"/>
    <param name="traffic_light_detector/conf_threshold_red" value="$(arg conf_th_red)"/>
    <param name="traffic_light_detector/blue_count_threshold" value="$(arg blue_th)"/>
    <param name="traffic_light_detector/red_count_threshold" value="$(arg red_th)"/>
    <!-- <include file="$(find traffic_light_detector)/launch/docker_run.launch"/> -->
    <node pkg="traffic_light_detector" type="test.py" name="traffic_light_detector" cwd="node" output="screen">
    <!-- <node pkg="traffic_light_detector" type="traffic_light_detector.py" name="traffic_light_detector" cwd="node" output="screen"> -->
        <remap from="/CompressedImage" to="/grasscam/image_raw/compressed" />
    </node>

    <node pkg="rosbag" type="play" name="rosbag_play_traffic" output="screen" args="
        $(arg bagfile)
        -s $(arg s)
        -r $(arg r)
        --topics
        /grasscam/image_raw/compressed
        ">
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d /home/amsl/catkin_ws/src/traffic_light_detector/config/config.rviz"/>
    <node pkg="rostopic" type="rostopic" name="exec_flag_pub" args="pub -r 10 /request_detect_traffic_light std_msgs/Bool True " />
</launch>
