<?xml version="1.0"?>

<launch>
    <!-- <arg name="bagfile" default="/home/amsl/traffic_light_test.bag"/> -->
    <!-- <arg name="s" default="70"/> -->

    <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-21/rwrc23_main_2023-10-21-11-05-05.bag"/>
    <!-- <arg name="s" default="803"/> -->
    <arg name="s" default="980"/>
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-21/rwrc23_main_2023-10-21-12-07-59.bag"/> -->
    <!-- <arg name="s" default="290"/> -->
    <!-- <arg name="s" default="470"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-21/rwrc23_main_2023-10-21-14-48-31.bag"/> -->
    <!-- <arg name="s" default="455"/> -->
    <!-- <arg name="s" default="560"/> -->
    <!-- <arg name="s" default="1450"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-21/rwrc23_main_2023-10-21-15-23-04.bag"/> -->
    <!-- <arg name="s" default="630"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-21/rwrc23_main_2023-10-21-15-35-48.bag"/> -->
    <!-- <arg name="s" default="1135"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-22/rwrc23_main_2023-10-22-11-11-36.bag"/> -->
    <!-- <arg name="s" default="580"/> -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/rwrc23/traffic_light/traffic_light_test.bag"/> -->
    <!-- <arg name="s" default="0"/> -->
    <arg name="d" default="15.0"/>
    <arg name="r" default="1" />


    <!-- <param name="traffic_light_detector/conf_threshold_blue" value="$(arg conf_th_blue)"/> -->
    <!-- <param name="traffic_light_detector/conf_threshold_red" value="$(arg conf_th_red)"/> -->
    <!-- <param name="traffic_light_detector/blue_count_threshold" value="$(arg blue_th)"/> -->
    <!-- <param name="traffic_light_detector/red_count_threshold" value="$(arg red_th)"/> -->
    <!-- <include file="$(find traffic_light_detector)/launch/docker_run.launch"/> -->
    <include file="$(find traffic_light_detector)/launch/traffic_light_detector.launch"/>


    <node pkg="rosbag" type="play" name="rosbag_play_traffic" output="screen" args="
        $(arg bagfile)
        -s $(arg s)
        -r $(arg r)
        --topics
        /grasscam/image_raw/compressed
        ">
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d /home/amsl/catkin_ws/src/traffic_light_detector/config/config.rviz"/>
    <node pkg="rostopic" type="rostopic" name="exec_flag_pub" args="pub -r 10 /request_detect_traffic_light std_msgs/Bool True " />
</launch>
