<?xml version="1.0"?>

<launch>

    <arg name="conf_threshold" default="0.1"/>
    <arg name="blue_count_threshold" default="20"/>
    <arg name="red_count_threshold" default="50"/>

    <node name="traffic_light_detector" pkg="traffic_light_detector" type="traffic_light_detector.py" cwd="node" output="screen">
        <param name="conf_threshold" value="$(arg conf_threshold)"/>
        <param name="blue_count_threshold" value="$(arg blue_count_threshold)"/>
        <param name="red_count_threshold" value="$(arg red_count_threshold)"/>
    </node>

    <!-- <node pkg="rosbag" type="play" name="play" args="/media/amsl/96fde31e-3b9b-4160-8d8a-a4b913579ca2/bagfiles/bagfiles/rwrc/traficlight-2021-10-24-13-17tsukuba.bag -l"> -->
    <!-- <node pkg="rosbag" type="play" name="play" args="/home/amsl/bagfiles/rwrc/traficlight-2021-10-24-13-17tsukuba.bag -l"> -->
        <node pkg="rosbag" type="play" name="play" args="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-09-23/traffic_light_test_1.bag -l">
        <!-- <remap from="/front_cam/color/image_raw/compressed" to="/CompressedImage" /> -->
        <remap from="/grasscam/image_raw/compressed" to="/CompressedImage" />
    </node>

    <node pkg="rostopic" type="rostopic" name="exec_flag_pub" args="pub -r 10 /request_detect_traffic_light std_msgs/Bool True " />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find traffic_light_detector)/config/config.rviz"/>
</launch>
