<?xml version="1.0"?>

<launch>
    <node name="traffic_light_detector" pkg="traffic_light_detector" type="traffic_light_detector.py">
    </node>

    <node pkg="rosbag" type="play" name="play" args="/home/amsl/bagfiles/rwrc/traficlight-2021-10-24-13-17tsukuba.bag">

        <remap from="/front_cam/color/image_raw/compressed" to="/CompressedImage" />
    </node>
    <node pkg="rviz" type="rviz" name="rviz" />
</launch>
